{%- assign icon_size = 35 -%}
<footer class="footer">
    <div class="container text-center">
        <a class="text-decoration-none text-muted h5" href="mailto:contactFlamy@gmail.com">
            Contact me
        </a>
        <p class="pt-2">
            <a target="_blank" rel="noopener noreferrer" class="p-1" href="https://github.com/TheFlamyy">
                <img src="/assets/images/github_logo.svg" width="{{icon_size}}">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="p-1" href="https://twitter.com/TheFlamy_">
                <img src="/assets/images/twitter_logo.svg" width="{{icon_size}}">
            </a>
        </p>
    </div>
</footer>