$property: all;
$easing: ease-in-out;
$default-transform: translate(0);

$delay: 0.1s;

$fade-duration: 0.3s;
$fast-fade-duration: 0.2s;

$slide-transform: translateY(10px);
$slide-duration: 0.3s;

$prefixes: "", "-moz-", "-ms-", "-o-", "-webkit-";
$transition-prefixes: "transition-", "-moz-", "-ms-", "-o-", "-webkit-";


.animated {
    opacity: 0;
    
    @each $prefix in $prefixes{
        #{$prefix}transition: $property 0 $easing 0s;
    }
}

.finished {
    opacity: 1 !important;

    @each $prefix in $prefixes{
        #{$prefix}transform: $default-transform !important;
    }
}

.fade {
    @each $prefix in $transition-prefixes{
        #{$prefix}duration: $fade-duration;
    }
}

.fast-fade {
    @each $prefix in $transition-prefixes{
        #{$prefix}duration: $fast-fade-duration;
    }
}

.slide-up {
    @each $prefix in $prefixes{
        #{$prefix}transform: $slide-transform;
    }

    @each $prefix in $transition-prefixes{
        #{$prefix}duration: $slide-duration;
    }
}

.delayed {
    @each $prefix in $transition-prefixes{
        #{$prefix}delay: $delay;
    }
}